@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Walter+Turncoat&display=swap');

.Big-Font {
    font-family: "Walter Turncoat", cursive;
    font-weight: 1200;
    font-style: normal;
  }